ACTS csv to NetCDF4 cases

- Converts a csv file of exclusively integers from Acts to a set of test cases in a 
NetCDF4 file readable by the "NetCDF Cases" sampling plugin.
- Accepts a csv file from Acts of integers 0 - n.
  - Each model constant is in the header, followed by rows of indices, each a test case.
- Accepts a netCDF range file with each constant, followed by an array of values.
- Each value in the "test_value" dimension of the array will be treated as a value that
is to be paired to a index in the csv file.
- The resulting netCDF file will contain a dimension "case" which the "NetCDF
Cases" plugin will read as distinct samples. This file, since it includes a lot of 
duplicate values, will use compression.
